.more-screen .icon-row {
  margin-top: 35px;
  margin-bottom: 10px;
}

.more-screen .icon-row{ 
  justify-content:unset;
  flex-wrap: wrap;
}

.more-screen .icon-row__icon {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 20px;
}

.more-suggestions__title {
  margin-bottom: 20px;
}