
.screen-header {
  padding: 40px var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

.friends-screen__channel-header {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}